@import "tailwindcss";

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../public/IRANSans/IRANSans\(Small\).ttf");
  src: url("../public/IRANSans/IRANSans\(Small\).ttf")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/IRANSans/IRANSans\(Small\).ttf"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/IRANSans/IRANSans\(Small\).ttf"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/IRANSans/IRANSans\(Small\).ttf");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../public/IRANSans/IRANSans\(Small\)_Bold.ttf");
  src: url("../public/IRANSans/IRANSans\(Small\)_Bold.ttf")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/IRANSans/IRANSans\(Small\)_Bold.ttf"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/IRANSans/IRANSans\(Small\)_Bold.ttf"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/IRANSans/IRANSans\(Small\)_Bold.ttf");
}


@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../public/IRANSans/IRANSans\(Small\)_Medium.ttf');
    src: url('../public/IRANSans/IRANSans\(Small\)_Medium.ttf') format('embedded-opentype'),
    /* IE6-8 */
    url('../public/IRANSans/IRANSans\(Small\)_Medium.ttf') format('ttf'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../public/IRANSans/IRANSans\(Small\)_Medium.ttf') format('ttf'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/IRANSans/IRANSans\(Small\)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../public/IRANSans/IRANSans\(Small\)_Light.ttf');
    src: url('../public/IRANSans/IRANSans\(Small\)_Light.ttf') format('embedded-opentype'),
    /* IE6-8 */
    url('../public/IRANSans/IRANSans\(Small\)_Light.ttf') format('ttf'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../public/IRANSans/IRANSans\(Small\)_Light.ttf') format('ttf'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/IRANSans/IRANSans\(Small\)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../public/IRANSans/IRANSans\(Small\)_UltraLight.ttf');
    src: url('../public/IRANSans/IRANSans\(Small\)_UltraLight.ttf') format('embedded-opentype'),
    /* IE6-8 */
    url('../public/IRANSans/IRANSans\(Small\)_UltraLight.ttf') format('ttf'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../public/IRANSans/IRANSans\(Small\)_UltraLight.ttf') format('ttf'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../public/IRANSans/IRANSans\(Small\)_UltraLight.ttf') format('truetype');

  
}

/*@font-face {
    font-family: 'AIranianSans';
    src: url('../font/IRANSans/eot/IRANSansWeb(FaNum).eot') format('embedded-opentype'), url('../font/IranSans/AIranianSans.otf') format('opentype'), url('../font/IranSans/AIranianSans.svg') format('svg'), url('../font/IranSans/AIranianSans.ttf') format('truetype'), url('../font/IranSans/AIranianSans.woff') format('woff');
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans, tahoma, arial !important;
  font-size: 15px !important;

}

:root {
  --primary-black: #121212;
  --primary-gold: #d4af37;
  --primary-silver: #e0e0e0;
  --accent-white: #ffffff;
  --success-green: #4caf50;
  --error-red: #f44336;
  --transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: IRANSans, tahoma, arial;
  margin: 0;
  padding: 0;
}
body {
  font-family: IRANSans, tahoma, arial;
  background: var(--primary-black);
  color: var(--primary-silver);
  line-height: 1.6;

}

/* Header & Navigation */

.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem 2rem 4rem;
  position: relative;
  overflow: hidden;
}
